body {
    /* background-color: #000; */
    background: #000 url('./images/bg.jpg') no-repeat center center/cover;
}

.container {
    text-align: center;
    margin-top: 40px;
    color: #fff;
}

.btn {
    width: 150px;
    margin: 0px 10px;
}

.breathing-options {
    margin: 35px 0px 75px 0px;
}

.breather {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}
  
.gradient {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    position: absolute;
}

.gradient-box {
    background: conic-gradient(
        #55b7a4 0%,
        #4ca493 25%,
        #fff 25%,
        #fff 50%,
        #336d62 50%,
        #2a5b52 75%,
        #fff 75%,
        #fff 100%
    );
}

.gradient-478 {
    background: conic-gradient(
        #55b7a4 0%,
        #4ca493 21%,
        #fff 21%,
        #fff 58%,
        #336d62 58%,
        #2a5b52 100%
    );
}

.gradient-711 {
    background: conic-gradient(
        #55b7a4 0%,
        #4ca493 39%,
        #336d62 39%,
        #2a5b52 100%
    );
}
  
.pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
    transform: rotate(0deg);
}
  
.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    transform-origin: bottom center;
}

.pointer-box {
    animation: rotate 10s linear forwards infinite;
}

.pointer-478 {
    animation: rotate 10s linear forwards infinite;
}

.pointer-711 {
    animation: rotate 10s linear forwards infinite;
}
  
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
}
  
.scaleBox {
    animation: scaleBox 10s linear infinite;
}
  
@keyframes scaleBox {
    0% {
        transform: scale(1);
    }
    
    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.scale478 {
    animation: scale478 10s linear infinite;
}

@keyframes scale478 {
    0% {
        transform: scale(1);
    }

    21% {
        transform: scale(1.2);
    }

    58% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.scale711 {
    animation: scale711 10s linear infinite;
}

@keyframes scale711 {
    0% {
        transform: scale(1);
    }

    39% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}